DATABASE_URL=postgres:postgresql://edmark_user:Wn3op9kWZz0jXzhPgracO3KdliE7YB1V@dpg-d9h0e0flk1mc738pu290-a.virginia-postgres.render.com/edmark
PG_PASSWORD=Test@123

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

PORT=3000
NODE_ENV=development

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
